/* Write some CSS below */

/* General color used: #E68C04; #FFBD59; #FFE294; #FAF3E0; #C6FFDD浅绿,#FBD786橘色，#f7797d粉 */
body{
margin:0;
text-align: center;
color:black;
font-family:"Caveat";
font-size: 20px;
}

H1{
    color:#FAF3E0;
}

H2,H3{
    font-family: "Pacifico";
    font-style: normal;
    font-size: 35px
}

.text-right{
    text-align:right
}
.btn-orange{
    text-decoration: none;
    font-family: "helvetica", sans-serif;
    background-color:#FFBD59;
    color:black;
    padding:20px;
}

.btn-orange:hover{
    background-color:#15773d;
    color:#FFBD59;
}

.espace-btn-orange{
    margin: 100px;
}


.btn-noir{
    font-family: "helvetica", sans-serif;
    background-color:black;
    color:#FAF3E0;
    margin:10px;
    padding:10px;
}

.btn-noir:hover{
    background-color:#15773d;
    color:#FAF3E0;
    margin:10px;
    padding:10px
}


/* introduction */

#logo{
    width:200px;
}

.intro{
    background-image: url("images/Meow in Hand.jpg");
    background-position: center;
    background-size: cover;
    padding-top:100px;
    height:400px;
    overflow-x: hidden;
}

.intro H1,.intro H2{
    color:#FAF3E0;
    text-shadow: 10px 10px 10px rgba(44, 24, 1, 0.5);
}

.block-orange{
    background: rgba(251, 215, 134,0.3);
    overflow-x:hidden
}


/* tous les animaux */
.animated-icons{
    display:center;
    font-size: 25px;
    margin-top: -20px;
}


.block-orange H2{
    font-size:20px;
}
.block-orange p{
    font-size:20px;
    padding:5px
}

/* Services proposées */
.grid-horizontal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: -50px;

}

.services{
    background-color: white;
    text-align: center;
    box-shadow: 10px 20px 20px rgba(0,0,0,0.1);
    padding:20px;
    margin:30px;
    border-radius: 10%
}
.services img{
    width: 100%;
    object-fit: cover;
    border-radius:20%;
    transition:transform 1s ease
}
.services img:hover{
    width: 100%;
    opacity:50%;
    object-fit: cover;
    border-radius:20%;
    transform:scale(0.4,0.4)
}

/* Avis clientèles */
.box-left-to-right{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap:10px;
}


/* Container */
.container {
    width: 650px;
    margin: 20px auto;
  }

.grid-horizontal-2fr{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px
}

.avis{
    box-shadow: 0 10px 50px rgba(23, 109, 58, 0.4);
    text-align:center;
    display:flex;
    padding:20px;
    width: 100%;
    transition:0.5s
}

.avis:hover{
    background-color: rgba(23, 109, 58, 0.4);
    transform:scale(1.2,1.1)
}


.avis img{
    object-fit:cover;
    height:350px;
    width: 50%;
}
.avis p{
    font-size:40px;
    display:center
}


/*Contactez-nous*/

.block-green{
    background-color: #447e5b;
    color:#FAF3E0;
    height:110px;
}

.socialmedia{
    margin:-30px 0
}
.socialmedia li{
    display: inline;
  }
  
  .socialmedia i{
    font-size:25px;
    margin:10px
  }
  
  .socialmedia .btn-social{
    background-color: transparent;
    color:#E68C04
  }
  .socialmedia .btn-social:hover{
    background-color: transparent;
    color:black
  }
 
  #logo-footer{
    height:40px;
    margin-top:-10px;
  }

  .animated-icons, .intro H2{
    animation:roll 5s linear infinite
  }
  @keyframes roll{
    0%{
      transform:scale(0.5)
    }
    75%
    {
        transform: scale(1);
      }
    50%{
      transform: scale(1.5);
    }
    75%
    {
        transform: scale(1);
      }
    100%{
        transform: scale(0.5);
      }
    }

